 ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0; 
    padding: 0;
    
} 
ul li a{
    display: inline-block;
    color: black; 
    text-decoration: none; 
    transition: transform 0.3s ease-in-out; 
    }


ul li a:hover{
    color: pink;
    background-color: palevioletred;
    transform: translateY(-5px);
}