p{

    font-family: 'Poppins';
    font-size: medium;
    font-weight: 500;
    font-style: italic;
    text-align: justify;
    /* text-decoration: dotted; */
    line-height: 110%;
    word-spacing: 2px;
    letter-spacing: 1px;
    

}

h1{
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: aqua;
    text-decoration-thickness: 4px;
}

#lorem{
    border: 3px solid black;
    width: 30px;
    height: 250px;
    text-overflow:hidden;
    overflow:scroll;
    
}